@use "../vars";

.hero__infos-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #FFFFFF;

    &__list {
        display: flex;
        gap: 40px;

        &__item {
            color: vars.$text-color-secondary;
            font-size: 14px;
            list-style: none;

            b {
                color: vars.$text-color-secondary;
                font-size: 18px;
                display: block;
                margin-bottom: 8px;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__list {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}