$font-main: "Roboto", sans-serif;

$text-color: #FFFFFF;
$text-color-secondary: #000000;
$border: #D9D9D9;

$button-primary: #4F2AC3;
$blue-primary: #1B6CA7;
$blue-secondary: #442BDB;
$pink: #89223B;
$yellow: #9C791D;